Repository MITS-Felucca/Felucca, pull requests merged in 2020-07, with the labels that each got.

#177 Integration
  felucca/backend/execution_manager.py
  felucca/backend/resource_manager.py
  felucca/backend/server.py
  felucca/frontend/src/app/app-routing.module.ts
  felucca/frontend/src/app/app.component.html
  felucca/frontend/src/app/app.module.ts
  felucca/frontend/src/app/edit-tool/edit-tool.component.css
  felucca/frontend/src/app/edit-tool/edit-tool.component.html
  felucca/frontend/src/app/edit-tool/edit-tool.component.ts
  felucca/frontend/src/app/job.service.ts
  felucca/frontend/src/app/navbar/navbar.component.css
  felucca/frontend/src/app/navbar/navbar.component.html
  felucca/frontend/src/app/navbar/navbar.component.ts
  felucca/frontend/src/app/schema.service.ts
  felucca/frontend/src/app/schema.ts
  felucca/frontend/src/app/submit-job/submit-job.component.html
  felucca/frontend/src/app/submit-job/submit-job.component.ts
  felucca/frontend/src/app/tool-list/tool-list.component.css
  felucca/frontend/src/app/tool-list/tool-list.component.html
  felucca/frontend/src/app/tool-list/tool-list.component.ts
  felucca/frontend/src/index.html
  tests/unit_test/backend/resource_manager_test.py
Labels: Execution Manager, Frond-End, Resource Manager, development

#171 add submit job popups
  felucca/backend/server.py
  felucca/frontend/src/app/app.component.html
  felucca/frontend/src/app/app.module.ts
  felucca/frontend/src/app/job.service.ts
  felucca/frontend/src/app/navbar/navbar.component.css
  felucca/frontend/src/app/navbar/navbar.component.html
  felucca/frontend/src/app/navbar/navbar.component.ts
  felucca/frontend/src/app/submit-job/submit-job.component.html
  felucca/frontend/src/app/submit-job/submit-job.component.ts
  felucca/frontend/src/index.html
Labels: Frond-End

#184 sprint 8 Integration
  DockerFile_for_updating
  Vagrantfile
  felucca/backend/container_server.py
  felucca/backend/execution_manager.py
  felucca/backend/job_manager.py
  felucca/backend/logger.py
  felucca/backend/resource_manager.py
  felucca/backend/server.py
  felucca/frontend/src/app/app.module.ts
  felucca/frontend/src/app/edit-tool/edit-tool.component.css
  felucca/frontend/src/app/edit-tool/edit-tool.component.html
  felucca/frontend/src/app/edit-tool/edit-tool.component.ts
  felucca/frontend/src/app/file.service.ts
  felucca/frontend/src/app/job-info/job-info.component.html
  felucca/frontend/src/app/job.service.ts
  felucca/frontend/src/app/navbar/navbar.component.css
  felucca/frontend/src/app/navbar/navbar.component.html
  felucca/frontend/src/app/navbar/navbar.component.ts
  felucca/frontend/src/app/output-display/output-display.component.html
  felucca/frontend/src/app/output-display/output-display.component.ts
  felucca/frontend/src/app/schema.service.ts
  felucca/frontend/src/app/tool-list/tool-list.component.html
  felucca/frontend/src/app/tool-list/tool-list.component.ts
  felucca/frontend/src/index.html
  tests/unit_test/backend/job_manager_test.py
  tests/unit_test/backend/resource_manager_test.py
Labels: development

#183 Realtime output in Backend
  felucca/backend/container_server.py
  felucca/backend/resource_manager.py
  felucca/backend/server.py
  felucca/frontend/src/app/file.service.ts
  felucca/frontend/src/app/output-display/output-display.component.html
  felucca/frontend/src/app/output-display/output-display.component.ts
  tests/unit_test/backend/resource_manager_test.py
Labels: Container Server, development

#181 Add interfaces for kernel metadata
  DockerFile_for_updating
  Vagrantfile
  felucca/backend/execution_manager.py
  felucca/backend/logger.py
  felucca/backend/server.py
Labels: Job Manager, Resource Manager, development

#180 update kernel by given string, delete redundant images and handle failure
  DockerFile_for_updating
  Vagrantfile
  felucca/backend/execution_manager.py
  felucca/backend/logger.py
  felucca/backend/server.py
Labels: Execution Manager, development

#179 Add more validator in frontend and also add directory and digest in P…
  felucca/backend/server.py
  felucca/frontend/src/app/app.module.ts
  felucca/frontend/src/app/edit-tool/edit-tool.component.css
  felucca/frontend/src/app/edit-tool/edit-tool.component.html
  felucca/frontend/src/app/edit-tool/edit-tool.component.ts
  felucca/frontend/src/app/job-info/job-info.component.html
  felucca/frontend/src/app/navbar/navbar.component.css
  felucca/frontend/src/app/navbar/navbar.component.html
  felucca/frontend/src/app/navbar/navbar.component.ts
  felucca/frontend/src/app/schema.service.ts
  felucca/frontend/src/app/tool-list/tool-list.component.html
  felucca/frontend/src/app/tool-list/tool-list.component.ts
  felucca/frontend/src/index.html
Labels: Frond-End, development

#188 2nd Integration of Sprint 8
  felucca/backend/config.py
  felucca/backend/container_server.py
  felucca/backend/execution_manager.py
  felucca/backend/job_manager.py
  felucca/backend/resource_manager.py
  felucca/backend/server.py
  felucca/frontend/src/app/edit-tool/edit-tool.component.html
  felucca/frontend/src/app/edit-tool/edit-tool.component.ts
  felucca/frontend/src/app/job-list/job-list.component.css
  felucca/frontend/src/app/navbar/navbar.component.html
  felucca/frontend/src/app/navbar/navbar.component.ts
  felucca/frontend/src/app/submit-task/submit-task.component.ts
  felucca/frontend/src/app/tool-list/tool-list.component.css
  felucca/frontend/src/app/tool-list/tool-list.component.html
  felucca/frontend/src/app/tool-list/tool-list.component.ts
  tests/unit_test/backend/execution_manager_test.py
  tests/unit_test/backend/resource_manager_test.py
Labels: Execution Manager, Frond-End, Resource Manager, development

#186 add schema export and import functionality.
  felucca/frontend/src/app/edit-tool/edit-tool.component.html
  felucca/frontend/src/app/edit-tool/edit-tool.component.ts
  felucca/frontend/src/app/job-list/job-list.component.css
  felucca/frontend/src/app/navbar/navbar.component.html
  felucca/frontend/src/app/navbar/navbar.component.ts
  felucca/frontend/src/app/submit-task/submit-task.component.ts
  felucca/frontend/src/app/tool-list/tool-list.component.css
  felucca/frontend/src/app/tool-list/tool-list.component.html
  felucca/frontend/src/app/tool-list/tool-list.component.ts
Labels: Frond-End, development

#202 Fix RM style
  felucca/backend/container_server.py
  felucca/backend/resource_manager.py
Labels: Resource Manager, development

#200 Fix sonarqube frontend
  felucca/frontend/src/app/app.component.css
  felucca/frontend/src/app/edit-tool/edit-tool.component.html
  felucca/frontend/src/app/edit-tool/edit-tool.component.ts
  felucca/frontend/src/app/file-display/file-display.component.ts
  felucca/frontend/src/app/job-info/job-info.component.html
  felucca/frontend/src/app/job-info/job-info.component.ts
  felucca/frontend/src/app/job-list/job-list.component.html
  felucca/frontend/src/app/job-list/job-list.component.ts
  felucca/frontend/src/app/output-display/output-display.component.ts
  felucca/frontend/src/app/submit-job/submit-job.component.html
  felucca/frontend/src/app/submit-job/submit-job.component.ts
  felucca/frontend/src/app/submit-task/submit-task.component.html
  felucca/frontend/src/app/tool-list/tool-list.component.html
  felucca/frontend/src/app/tool-list/tool-list.component.ts
  felucca/frontend/src/index.html
Labels: Frond-End

#198 fix schema validator bug and add type in submit task page.
  felucca/frontend/src/app/edit-tool/edit-tool.component.ts
  felucca/frontend/src/app/submit-task/submit-task.component.html
Labels: Frond-End, development

#205 Document
  README.md
  image/README.md
  image/arg_hover.png
  image/choosing_existing_tool.png
  image/create_new_schema.png
  image/current_digest.png
  image/edit_schema_save.png
  image/empty_schema.png
  image/export_schema.png
  image/import_schema.png
  image/imported_from_file.png
  image/imported_from_file_save.png
  image/job-info-page.png
  image/job-info-page2.png
  image/job-information.png
  image/job-submission-start.png
  image/job-with-multiple-tasks.png
  image/kill-task.png
  image/realtime-output.png
  image/remove_tool.png
  image/remove_tool_dialog.png
  image/save-arguments.png
  image/schema_page.png
  image/start_from_existing_tool.png
  image/task-arguments.png
  image/tool_list.png
  image/update_pharos_dialog.png
  image/updating_pharos.png
  image/updating_pharos_finished.png
Labels: documentation

#211 Installation Scripts
  env/install_docker.sh
  env/setup.yml
  felucca_control.sh
Labels: documentation
