Repository MITS-Felucca/Felucca, pull requests merged in 2020-06, with the labels that each got.

#121 Restructure env
  .gitignore
  DockerFile
  Vagrantfile
  env/docker/container_server.py
  env/docker/oo.exe
  env/docker/status.py
  env/docker/test_server.py
  env/mongodb.sh
  env/requirements.txt
  env/roles/mongodb/tasks/main.yml
  env/roles/python/tasks/main.yml
  env/setup.yml
  felucca/backend/server.py
  felucca/backend/test.py
  tests/integration_test/integration_test_server.py
Labels: development

#127 add log on backend
  felucca/backend/execution_manager.py
  felucca/backend/job_manager.py
  felucca/backend/logger.py
  felucca/backend/resource_manager.py
Labels: development

#130 Web page for job-list and job-infor/<jobid>
  .gitignore
  felucca/frontend/src/app/Task.ts
  felucca/frontend/src/app/app-routing.module.ts
  felucca/frontend/src/app/app.component.html
  felucca/frontend/src/app/app.component.ts
  felucca/frontend/src/app/app.module.ts
  felucca/frontend/src/app/job-info/job-info.component.css
  felucca/frontend/src/app/job-info/job-info.component.html
  felucca/frontend/src/app/job-info/job-info.component.ts
  felucca/frontend/src/app/job-list/job-list.component.css
  felucca/frontend/src/app/job-list/job-list.component.html
  felucca/frontend/src/app/job-list/job-list.component.ts
  felucca/frontend/src/app/job.service.ts
  felucca/frontend/src/app/job.ts
  felucca/frontend/src/app/status.enum.ts
  felucca/frontend/src/app/task.service.ts
Labels: Frond-End, development

#129 Add function in Resource Manager & Change structure of Task
  felucca/backend/common/job.py
  felucca/backend/common/task.py
  felucca/backend/execution_manager.py
  felucca/backend/job_manager.py
  felucca/backend/logger.py
  felucca/backend/resource_manager.py
  felucca/backend/server.py
  tests/integration_test/integration_test_backend.py
  tests/sample_output/facts.json
  tests/sample_output/input.json
  tests/sample_output/oo_base64_utf8
  tests/sample_output/output.json.json
  tests/sample_output/results.json
  tests/unit_test/backend/common/job_test.py
  tests/unit_test/backend/resource_manager_test.py
Labels: Resource Manager, development

#137 Add file validation and file page, fix text display.
  felucca/backend/resource_manager.py
  felucca/frontend/src/app/app-routing.module.ts
  felucca/frontend/src/app/app.component.spec.ts
  felucca/frontend/src/app/app.module.ts
  felucca/frontend/src/app/env.ts
  felucca/frontend/src/app/file-display/file-display.component.css
  felucca/frontend/src/app/file-display/file-display.component.html
  felucca/frontend/src/app/file-display/file-display.component.ts
  felucca/frontend/src/app/file.service.ts
  felucca/frontend/src/app/job-info/job-info.component.css
  felucca/frontend/src/app/job-info/job-info.component.html
  felucca/frontend/src/app/job-info/job-info.component.ts
  felucca/frontend/src/app/job-list/job-list.component.html
  felucca/frontend/src/app/job-list/job-list.component.ts
  felucca/frontend/src/app/job.service.ts
  felucca/frontend/src/app/submit-job/submit-job.component.css
  felucca/frontend/src/app/submit-job/submit-job.component.html
  felucca/frontend/src/app/submit-job/submit-job.component.ts
  felucca/frontend/src/app/submit-task/submit-task.component.css
  felucca/frontend/src/app/submit-task/submit-task.component.ts
  felucca/frontend/src/app/task.ts
Labels: Frond-End, development

#138 Restructure Resource Manager
  felucca/backend/resource_manager.py
  tests/integration_test/integration_test_backend.py
  tests/unit_test/backend/resource_manager_test.py
Labels: Resource Manager, development

#143 Add schema
  felucca/backend/pharos_schema/apianalyzer
  felucca/backend/pharos_schema/apianalyzer.json
  felucca/backend/pharos_schema/apilookup
  felucca/backend/pharos_schema/apilookup.json
  felucca/backend/pharos_schema/callanalyzer
  felucca/backend/pharos_schema/callanalyzer.json
  felucca/backend/pharos_schema/dumpmasm
  felucca/backend/pharos_schema/dumpmasm.json
  felucca/backend/pharos_schema/fn2hash
  felucca/backend/pharos_schema/fn2hash.json
  felucca/backend/pharos_schema/fn2yara
  felucca/backend/pharos_schema/fn2yara.json
  felucca/backend/pharos_schema/mkir
  felucca/backend/pharos_schema/mkir.json
  felucca/backend/pharos_schema/ooanalyzer
  felucca/backend/pharos_schema/ooanalyzer.json
  felucca/backend/pharos_schema/pathanalyzer
  felucca/backend/pharos_schema/pathanalyzer.json
  felucca/backend/pharos_schema/pathfinder
  felucca/backend/pharos_schema/pathfinder.json
  felucca/backend/pharos_schema/schema_generator.py
  tests/sample_output/ooanalyzer.json
Labels: development

#149 fix schema
  felucca/backend/pharos_schema/callanalyzer.json
Labels: development

#147 Adapt Resource Manager to new design
  felucca/backend/common/job.py
  felucca/backend/common/task.py
  felucca/backend/execution_manager.py
  felucca/backend/server.py
  tests/sample_output/input.json
  tests/unit_test/backend/execution_manager_test.py
Labels: Resource Manager, development

#141 Sprint 7 backend
  felucca/backend/common/job.py
  felucca/backend/common/task.py
  felucca/backend/execution_manager.py
  felucca/backend/server.py
  tests/sample_output/input.json
  tests/unit_test/backend/execution_manager_test.py
Labels: Execution Manager, Resource Manager, development

#160 Add failure handling of save_result & unit test for this
  felucca/backend/common/task.py
  felucca/backend/resource_manager.py
  felucca/backend/server.py
  tests/unit_test/backend/resource_manager_test.py
Labels: Resource Manager, development

#159 Add kill_task in server
  felucca/backend/server.py
Labels: development

#155 Frontend refinement.
  felucca/frontend/node_modules/__ngcc_entry_points__.json
  felucca/frontend/node_modules/file-saver/CHANGELOG.md
  felucca/frontend/node_modules/file-saver/LICENSE.md
  felucca/frontend/node_modules/file-saver/README.md
  felucca/frontend/node_modules/file-saver/dist/FileSaver.js
  felucca/frontend/node_modules/file-saver/dist/FileSaver.min.js
  felucca/frontend/node_modules/file-saver/dist/FileSaver.min.js.map
  felucca/frontend/node_modules/file-saver/package.json
  felucca/frontend/node_modules/file-saver/src/FileSaver.js
  felucca/frontend/package-lock.json
  felucca/frontend/package.json
  felucca/frontend/src/app/file-display/file-display.component.html
  felucca/frontend/src/app/file-display/file-display.component.ts
  felucca/frontend/src/app/job-info/job-info.component.css
  felucca/frontend/src/app/job-info/job-info.component.html
  felucca/frontend/src/app/job-info/job-info.component.ts
  felucca/frontend/src/app/job-list/job-list.component.html
  felucca/frontend/src/app/job-list/job-list.component.ts
  felucca/frontend/src/app/output-display/output-display.component.html
  felucca/frontend/src/app/output-display/output-display.component.ts
  felucca/frontend/src/app/submit-job/submit-job.component.css
  felucca/frontend/src/app/submit-job/submit-job.component.html
  felucca/frontend/src/app/submit-task/submit-task.component.html
  felucca/frontend/src/app/submit-task/submit-task.component.ts
Labels: Frond-End, development

#165 Integration
  felucca/backend/common/job.py
  felucca/backend/common/status.py
  felucca/backend/execution_manager.py
  felucca/backend/job_manager.py
  felucca/backend/resource_manager.py
  felucca/backend/server.py
  felucca/frontend/src/app/job-info/job-info.component.html
  felucca/frontend/src/app/job-info/job-info.component.ts
  felucca/frontend/src/app/job-list/job-list.component.html
  felucca/frontend/src/app/job-list/job-list.component.ts
  felucca/frontend/src/app/job.service.ts
  felucca/frontend/src/app/status.enum.ts
  felucca/frontend/src/app/submit-job/submit-job.component.ts
  felucca/frontend/src/app/submit-task/submit-task.component.html
  felucca/frontend/src/app/task.ts
  tests/unit_test/backend/job_manager_test.py
Labels: Frond-End, Job Manager, Resource Manager, development

#163 Add finish_job & kill_job in Job Manager
  felucca/backend/common/status.py
  felucca/backend/execution_manager.py
  felucca/backend/job_manager.py
  felucca/backend/server.py
  tests/unit_test/backend/job_manager_test.py
Labels: Job Manager, development
